.dash_Nav{
  height:35px;
  display:flex;
  align-items: center;
  justify-content:left;
  font-size: 16px;
  background:#232f3e;
  color:white;
  font-family: Arial,sans-serif;
}
.dash>Link{
  margin-left:15px;
}
.logo_tv{
  margin-left:620px;
}