#cart {
    background-color: #eaeded;
}

#cart * {
    margin: 0px;
}

#unAuth>div {
    background-color: white;
    margin: 30px;
}

.commonPara {
    width: 80%;
    padding: 0px 30px 30px 30px;
    font-size: 13px;
}

#unAuth>div:first-of-type {
    display: grid;
    grid-template-columns: 30% 50%;
    gap: 2%;
    width: 70%;
    padding: 20px;
    padding-top: 40px;
}

#unAuth>div:nth-of-type(2) {
    height: 74px;
    width: 70%;
    padding: 0px 20px;
}

#unAuth>div:first-of-type>div>p {
    margin-bottom: 15px;
    color: #0d788b;
}

#unAuth>div:first-of-type>div>p:hover {
    cursor: pointer;
    color: rgb(197, 70, 70);
    text-decoration: underline;
}

#unAuth>div:first-of-type button {
    border-radius: 10px;
    height: 35px;
    margin-right: 10px;
    padding: 0px 20px;
}

#unAuth>div:first-of-type button>p {
    margin: auto;
    font-size: 15px;
}

#unAuth>div:first-of-type button:last-child:hover {
    background-color: rgb(241, 241, 241);
    cursor: pointer;
}

#unAuth>div:first-of-type button:last-child {
    border: 1px solid #e5e7e7;
    background-color: white;
}

#unAuth>div:first-of-type button:first-child:hover {
    background-color: #f2c900;
    cursor: pointer;
}

#unAuth>div:first-of-type button:first-child {
    background-color: #fdd407;
    border: 1px solid #fdd407;
}

#unAuth>div:last-child {
    margin: 0px;
    padding: 20px 0px;
}

#unAuth>div:last-child>div {
    border: 1px solid rgb(188, 188, 188);
    border-radius: 7px;
    text-align: center;
    padding: 40px 0px 30px;
}

#unAuth>div:last-child>div>p:first-child {
    font-size: 13px;
}

#unAuth>div:last-child>div>p:last-child {
    font-size: 11px;
}

#unAuth>div:last-child>div button {
    margin: 5px 0px;
    background-color: #fdd407;
    border: 0px;
    border-radius: 4px;
    height: 30px;
    width: 230px;
}

#unAuth>div:last-child>div>button:hover {
    cursor: pointer;
    background-color: #f2c900;
}

#unAuth>div:last-child>div>p>span {
    color: #0d788b;
}

#unAuth>div:last-child>div>p>span:hover {
    color: rgb(197, 70, 70);
    cursor: pointer;
}


/* Logged in */

/* Empty cart */
#auth {
    /* padding: 20px; */
    width: 97%;
    margin: auto;
    /* background-color: white; */
}

#emptyCart {
    padding: 25px 20px;
    width: 70%;
    margin-bottom: 700px;
    margin-top: 30px;
}

#emptyCart>p:first-child {
    margin-bottom: 7px;
    font-size: 29px;
}

#emptyCart>p:last-child {
    font-size: 15px;
    font-weight: 500;
}

#emptyCart>p>a {
    color: #0d788b;
}

#emptyCart>p>a:hover {
    cursor: pointer;
    color: rgb(197, 70, 70);
}

/* Items in cart */

#itemsInCart>div:first-of-type>div:first-of-type {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid rgb(190, 190, 190);
}

#itemsInCart>div:first-of-type>div>div {
    display: flex;
    gap: 5px;
}

#itemsInCart>div>div:first-of-type>p:last-child:hover {
    color: rgb(197, 70, 70);
    cursor: pointer;
}


#itemsInCart {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 2%;
}

#itemsInCart>div:first-child {
    background-color: white;
    padding: 20px;
}

#itemsInCart>div:last-child {
    background-color: white;
    padding: 20px;
    height: auto;
}










/* Payment Section */

/* Payment Navbar */
#paynav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background: linear-gradient(white 60%, rgb(163, 163, 163));
}

#paynav * {
    margin: auto;
}

/* Payment body */

#paybody {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2%;
    width: 75%;
    margin: auto;
}

#paybody>div:last-child {
    border-radius: 10px;
    border: 1px solid rgb(198, 198, 198);
}

#paybody>div:last-child {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.finalPricing {
    display: grid;
    grid-template-columns: 1fr 1fr;
}